* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
h1 {
    color: #9da285;
    margin-left: 10px;
    margin-top: 15px;
}
body {
    background: #28272b;
}

/* Default page */
.container{
    padding: 25px;
    width: 100%;
}
.tanksList{
    width: 1300px;
    margin-left: 20px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}

.item {
    text-align: center;
}

.model{
    padding-left: 12px;
    color: #c9ccac;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 130px;
}
.tank {
    display: block;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}
.flag {
    margin-left: 22px;
    display: block;
    float: left;
    max-width: 24px;
    height: auto;
}
.item{
    padding-bottom: 10px;
}
.item:hover{
    cursor: pointer;
    background: #4d4b53;
}

/* Details page */
.tank-details{
    color: #999e82;
    font-size: 14px;
    font-weight: bold;
}
#backLink {
    display: block;
    cursor: pointer;
}
.tank-details .heading {
    font-size: 20px;
    margin: 15px 0;
}

.detailsFlag {
    margin-right: 5px;
}
.detailsTank {
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
}
.tank-details table {
    text-align: left;
    border-collapse: collapse;
    color: #e5e8c4;
}
.tank-details th {
    padding: 8px 20px;
    width: 225px;
    border: 1px solid #9da285;
}
.tank-details th:nth-child(2n+1) {
    width: 550px;
}

.preview, .right-column {
    float: left;
    margin-left: 15px;
}
